@import '~bootstrap/scss/bootstrap';
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap');

$font-family: 'Playfair Display', serif;
$body-bg-color: rgba(255, 255, 185, 1);
$box-bg-color: rgba(11, 72, 14, 1);
$box-border-color: white;

body {
  background-color: $body-bg-color;
}

.topnav {
  display: none;
}

.box {
  align-items: center;
  background-color: $box-bg-color;
  border: 1px solid $box-border-color;
  color: $box-border-color;
  display: flex;
  font-family: $font-family;
  height: 80px;
  justify-content: center;
}

h1, h2 {
  font-family: $font-family;
}

.alt-color {
  background-color: cyan;
}
